In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Read the flights data
flights = pd.read_csv('data/flights.csv')

In [2]:
#Checking what we have
flights.head()

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,OriginAirportName,OriginCity,OriginState,DestAirportID,DestAirportName,DestCity,DestState,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled
0,2013,9,16,1,DL,15304,Tampa International,Tampa,FL,12478,John F. Kennedy International,New York,NY,1539,4,0.0,1824,13,0,0
1,2013,9,23,1,WN,14122,Pittsburgh International,Pittsburgh,PA,13232,Chicago Midway International,Chicago,IL,710,3,0.0,740,22,1,0
2,2013,9,7,6,AS,14747,Seattle/Tacoma International,Seattle,WA,11278,Ronald Reagan Washington National,Washington,DC,810,-3,0.0,1614,-7,0,0
3,2013,7,22,1,OO,13930,Chicago O'Hare International,Chicago,IL,11042,Cleveland-Hopkins International,Cleveland,OH,804,35,1.0,1027,33,1,0
4,2013,5,16,4,DL,13931,Norfolk International,Norfolk,VA,10397,Hartsfield-Jackson Atlanta International,Atlanta,GA,545,-1,0.0,728,-9,0,0

In [3]:
# Convert individual date components to datetime
flights['DateTime'] = pd.to_datetime(
    {
        'year': flights['Year'],
        'month': flights['Month'],
        'day': flights['DayofMonth']
    }
)

# Format the datetime to MM-DD-YYYY
#flights['DateTime'] = flights['DateTime'].dt.strftime('%m-%d-%Y')
flights['DateTime'] = flights['DateTime'].dt.strftime('%Y-%m-%d')

In [4]:
# Get list of columns in flights
columns = flights.columns.tolist()
print(columns)

['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'Carrier', 'OriginAirportID', 'OriginAirportName', 'OriginCity', 'OriginState', 'DestAirportID', 'DestAirportName', 'DestCity', 'DestState', 'CRSDepTime', 'DepDelay', 'DepDel15', 'CRSArrTime', 'ArrDelay', 'ArrDel15', 'Cancelled', 'DateTime']

In [5]:
#checking again for some reason i cant recall
flights.head()

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,OriginAirportName,OriginCity,OriginState,DestAirportID,...,DestCity,DestState,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled,DateTime
0,2013,9,16,1,DL,15304,Tampa International,Tampa,FL,12478,...,New York,NY,1539,4,0.0,1824,13,0,0,2013-09-16
1,2013,9,23,1,WN,14122,Pittsburgh International,Pittsburgh,PA,13232,...,Chicago,IL,710,3,0.0,740,22,1,0,2013-09-23
2,2013,9,7,6,AS,14747,Seattle/Tacoma International,Seattle,WA,11278,...,Washington,DC,810,-3,0.0,1614,-7,0,0,2013-09-07
3,2013,7,22,1,OO,13930,Chicago O'Hare International,Chicago,IL,11042,...,Cleveland,OH,804,35,1.0,1027,33,1,0,2013-07-22
4,2013,5,16,4,DL,13931,Norfolk International,Norfolk,VA,10397,...,Atlanta,GA,545,-1,0.0,728,-9,0,0,2013-05-16

In [6]:
from sklearn.preprocessing import LabelEncoder

# Create a label encoder and encode Carrier

# Create and fit label encoder for Carrier
carrier_encoder = LabelEncoder()
flights['Carrier_Encoded'] = carrier_encoder.fit_transform(flights['Carrier'])

In [7]:
flights.head()

,Year,Month,DayofMonth,DayOfWeek,Carrier,OriginAirportID,OriginAirportName,OriginCity,OriginState,DestAirportID,...,DestState,CRSDepTime,DepDelay,DepDel15,CRSArrTime,ArrDelay,ArrDel15,Cancelled,DateTime,Carrier_Encoded
0,2013,9,16,1,DL,15304,Tampa International,Tampa,FL,12478,...,NY,1539,4,0.0,1824,13,0,0,2013-09-16,4
1,2013,9,23,1,WN,14122,Pittsburgh International,Pittsburgh,PA,13232,...,IL,710,3,0.0,740,22,1,0,2013-09-23,14
2,2013,9,7,6,AS,14747,Seattle/Tacoma International,Seattle,WA,11278,...,DC,810,-3,0.0,1614,-7,0,0,2013-09-07,2
3,2013,7,22,1,OO,13930,Chicago O'Hare International,Chicago,IL,11042,...,OH,804,35,1.0,1027,33,1,0,2013-07-22,10
4,2013,5,16,4,DL,13931,Norfolk International,Norfolk,VA,10397,...,GA,545,-1,0.0,728,-9,0,0,2013-05-16,4

In [8]:
# Check for missing values
print("Missing values in each column:")
print(flights.isnull().sum())
print("\nTotal missing values:", flights.isnull().sum().sum())

# Check for duplicates
print("\nDuplicate rows:", flights.duplicated().sum())

Missing values in each column:
Year                    0
Month                   0
DayofMonth              0
DayOfWeek               0
Carrier                 0
OriginAirportID         0
OriginAirportName       0
OriginCity              0
OriginState             0
DestAirportID           0
DestAirportName         0
DestCity                0
DestState               0
CRSDepTime              0
DepDelay                0
DepDel15             2761
CRSArrTime              0
ArrDelay                0
ArrDel15                0
Cancelled               0
DateTime                0
Carrier_Encoded         0
dtype: int64

Total missing values: 2761

Duplicate rows: 0

In [9]:
flights['DepDel15'] = flights['DepDel15'].fillna(0)

In [10]:
# Check for missing values
print("Missing values in each column:")
print(flights.isnull().sum())
print("\nTotal missing values:", flights.isnull().sum().sum())

Missing values in each column:
Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
Carrier              0
OriginAirportID      0
OriginAirportName    0
OriginCity           0
OriginState          0
DestAirportID        0
DestAirportName      0
DestCity             0
DestState            0
CRSDepTime           0
DepDelay             0
DepDel15             0
CRSArrTime           0
ArrDelay             0
ArrDel15             0
Cancelled            0
DateTime             0
Carrier_Encoded      0
dtype: int64

Total missing values: 0

In [11]:
# Calculate 90th percentile for DepDelay
percentile_90 = flights['DepDelay'].quantile(0.90)

# Remove rows where DepDelay is higher than 90th percentile
flights = flights[flights['DepDelay'] <= percentile_90]

In [12]:
#Dont need them in the model
flights = flights.drop(['OriginAirportName', 'DestAirportName'], axis=1)

In [13]:
flights.shape

(245192, 20)

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

# Select features and target
X = flights[['Carrier_Encoded','DayofMonth','DayOfWeek','Month','DestAirportID','OriginAirportID']]
#airport id
#YEAR-MONTH-DAY

y = flights['ArrDel15']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create and train the model
model = LogisticRegression(random_state=42)
model.fit(X_train_scaled, y_train)

# Print model accuracy
print(f"Training accuracy: {model.score(X_train_scaled, y_train):.5f}")
print(f"Testing accuracy: {model.score(X_test_scaled, y_test):.5f}")

Training accuracy: 0.86835
Testing accuracy: 0.87049

In [15]:
# Get predictions probabilities for all test cases
y_test_probs = model.predict_proba(X_test_scaled)

# Pick a random index from test set
random_idx = np.random.randint(len(X_test))

# Get the probabilities for that sample
sample_prob = y_test_probs[random_idx]

# Get the actual test case details
test_case = X_test.iloc[random_idx]

print("Flight Details:")
print("--------------")
print(f"Carrier (encoded): {test_case['Carrier_Encoded']}")
print(f"Day of Month: {test_case['DayofMonth']}")
print(f"Day of Week: {test_case['DayOfWeek']}")
print(f"Month: {test_case['Month']}")
print(f"Origin Airport ID: {test_case['OriginAirportID']}")
print(f"Destination Airport ID: {test_case['DestAirportID']}")
print("\nPrediction Probabilities:")
print("-----------------------")
print(f"Probability of On-Time: {sample_prob[0]:.2%}")
print(f"Probability of Delay: {sample_prob[1]:.2%}")
print(f"\nActual Outcome: {'Delayed' if y_test.iloc[random_idx] == 1 else 'On-Time'}")

Flight Details:
--------------
Carrier (encoded): 10
Day of Month: 1
Day of Week: 2
Month: 10
Origin Airport ID: 14107
Destination Airport ID: 12892

Prediction Probabilities:
-----------------------
Probability of On-Time: 88.82%
Probability of Delay: 11.18%

Actual Outcome: On-Time

In [16]:
import pickle

# Save the model to a file
with open('flight_delay_model.pkl', 'wb') as file:
    pickle.dump(model, file)

# Also save the scaler since we'll need it for future predictions
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)